# Object files
*.o
*.lo
*.la

# Libraries
*.lib
*.a
*.deps
*.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

Makefile
Makefile.in
aclocal.m4
confdb/ar-lib
confdb/compile
confdb/config.guess
confdb/config.sub
confdb/depcomp
confdb/install-sh
confdb/libtool.m4
confdb/ltmain.sh
confdb/ltoptions.m4
confdb/ltsugar.m4
confdb/ltversion.m4
confdb/lt~obsolete.m4
confdb/missing
config.log
config.status
config.system
configure
foo
hydra-doxygen.cfg
hydra_nameserver
hydra_persist
hydra_pmi_proxy
include/hydra_config.h
include/hydra_config.h.in
include/stamp-h1
libtool
mpiexec.hydra
mpl/Makefile
mpl/Makefile.in
mpl/_configs.sed
mpl/aclocal.m4
mpl/confdb/ar-lib
mpl/confdb/config.guess
mpl/confdb/config.sub
mpl/confdb/depcomp
mpl/confdb/install-sh
mpl/confdb/libtool.m4
mpl/confdb/ltmain.sh
mpl/confdb/ltoptions.m4
mpl/confdb/ltsugar.m4
mpl/confdb/ltversion.m4
mpl/confdb/lt~obsolete.m4
mpl/confdb/missing
mpl/confdb/test-driver
mpl/config.log
mpl/config.status
mpl/configure
mpl/include/config.h
mpl/include/config.h.in
mpl/include/mplconfig.h
mpl/include/stamp-h1
mpl/libtool
mpl/localdefs
tools/bootstrap/src/bsci_init.c
tools/topo/hwloc/hwloc/config/ar-lib
tools/topo/hwloc/hwloc/config/argz.m4
tools/topo/hwloc/hwloc/config/compile
tools/topo/hwloc/hwloc/config/config.guess
tools/topo/hwloc/hwloc/config/config.sub
tools/topo/hwloc/hwloc/config/depcomp
tools/topo/hwloc/hwloc/config/install-sh
tools/topo/hwloc/hwloc/config/libtool.m4
tools/topo/hwloc/hwloc/config/ltdl.m4
tools/topo/hwloc/hwloc/config/ltmain.sh
tools/topo/hwloc/hwloc/config/ltoptions.m4
tools/topo/hwloc/hwloc/config/ltsugar.m4
tools/topo/hwloc/hwloc/config/ltversion.m4
tools/topo/hwloc/hwloc/config/lt~obsolete.m4
tools/topo/hwloc/hwloc/config/missing
tools/topo/hwloc/hwloc/config/test-driver
tools/topo/hwloc/hwloc/include/hwloc/autogen/config.h
tools/topo/hwloc/hwloc/include/hwloc/autogen/stamp-h3
tools/topo/hwloc/hwloc/include/private/autogen/config.h
tools/topo/hwloc/hwloc/include/private/autogen/config.h.in
tools/topo/hwloc/hwloc/include/private/autogen/stamp-h2
tools/topo/hwloc/hwloc/src/libltdl/
tools/topo/hwloc/hwloc/src/static-components.h
